@font-face {
	font-family: SerifRegular;
	src: url("../fonts/PTSerifRegular.ttf");
}

body {
	margin: 0;
}

.header {
	position: relative;
	z-index: 2;
	background-color: #8f786b;
	background-image: url(../img/background_header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 524px;
	margin: 0;
	-webkit-box-shadow: inset 0px -14px 14px -4px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px -14px 14px -4px rgba(0,0,0,0.35);
	box-shadow: inset 0px -14px 14px -4px rgba(0,0,0,0.35);
	color: #d9d2be;
}

.panel-menu {
	position: relative;
	z-index: 5;
	background-image: url(../img/panel_menu.png);
	background-size: contain; 
	background-repeat: repeat-x;
	background-position: center;
	height: 180px;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 2% 0 0 4%;
	display: table;
	text-align: center;
	border: none;
}

.menu div {
	display: table-cell;
	width: 120px;
	text-align: center;
}

.menu > li { 
	display: table-row;
	border: 1px solid white;
}

.menu-icon {
	display: inline-block;
	background: url(../img/menu_elements.png) no-repeat;
	background-position: 0px 0px;
	height: 27px;
	width: 27px;
	cursor: pointer;
}

div:nth-child(2) .menu-icon {background-position: -84px 0px;}
div:nth-child(3) .menu-icon {background-position: -168px 0px;}
div:nth-child(4) .menu-icon {background-position: -248px 0px;}

.menu-text {
	display: table-cell;
	width: 120px;
}

.menu-text span {
		cursor: pointer;
}

.logo {
	position: absolute;		
	display: table;
	width: 62px;
	height: 50px;
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	left: 46%;
	top: 14px;
}

.logo > span {
	margin-top: 10px;
	display: table-caption;
	caption-side: bottom;
	position: relative;
}

.search {
	border-collapse: collapse;
	border: none;
	margin: 10px;
	border-radius: 4px;
	font-family: sans-serif;
	width: 308px;
	position: absolute;
	top: 18px;
	right: 100px;
}

.search tr:nth-child(2) {
	display: block;
	background: rgba(63, 42, 35, 0.51);
	border-radius: 4px;
	border-top: 1px solid rgba(0, 0, 0, 0.41);
	border-bottom: 1px solid rgba(252, 245, 225, 0.4);
}

.search td:nth-child(2) {
	cursor: pointer;
	width: 22px;
}

.search .input-search {
	background: none;
	border: none;
	color: inherit;
	padding-left: 4px;
	width: 286px;
}

.discount-window {
	width: 35%;
	height: 200px;
	margin: 4% 0 0 10%;
	border-top: 3px solid white;
	background: rgba(81, 56, 48, 0.9);
}

.discount-window h1 {
	color: white;
	font-weight: normal;
	margin: 0;
	padding: 5% 1% 0 5%;
	font-size: 22px;
}

.discount-window p {
	margin: 0;
	padding: 5% 1% 0 5%;
	font-size: 16px;
}

.discount-window .text-input {
	padding: 0 0 0 4px;
	margin: 6% 0 0 5%;
	height: 13%;
	width: 50%;
	display: inline-block;
	position: relative;
	color: #513830;
	box-sizing: border-box;
}

@media screen and (max-width: 479px) {
	.logo {
		left: 40%;
		background-size: 60%;
		font-size: 14px;
		background-position: top;
		margin: 0;
		height: 50px;
	}
	
	.logo span {
		top: -18px;
		margin: 0;
	}
	
	.panel-menu {
		height: 340px;
	}
	
	.menu {
		position: relative;
		margin: 0;
		padding: 0;
		top: 69px;
		left: -10;
	}
	
	.search tr:nth-child(1){
		display: none;
	}
	
	.search {
		position: relative;
		top: 80px;
		left: 0;
		width: 80%;
		margin: auto;
	}
	
	.discount-window {
		position: absolute;
		top: 0;
		margin: 0;
		z-index: 10;
		width: 94%;
		left: 3%;
		top: 300px;
	}
}

@media screen and (min-width: 480px) and (max-width: 1160px) {
	.logo {
		left: 40%;
		background-size: 60%;
		font-size: 14px;
		background-position: top;
		margin: 0;
		height: 50px;
	}
	
	.logo span {
		top: -18px;
		margin: 0;
	}
	
	.panel-menu {
		height: 340px;
	}
	
	.menu {
		position: relative;
		margin: 0;
		padding: 0;
		top: 90px;
		left: -10;
	}
	
	.search tr:nth-child(1){
		display: none;
	}
	
	.search {
		position: relative;
		top: 100px;
		left: 20px;
		width: 200px;
	}
	
	.search .sign {
		position: absolute;
		left: 94%;
		top: 0;
	}
	
	.discount-window {
		position: absolute;
		top: 0;
		margin: 0;
		z-index: 10;
		width: 50%;
		left: 3%;
		top: 300px;
	}
}

.base { 
	display: inline-block;
	vertical-align: top;
	padding: 0;
	height: 13%;
	width: 86px;
	left: -4px;
	margin: 6% 0 0 0;
	background: #f57453; 
	position: relative; 
	color: #fff;
	cursor: pointer;
} 

.base::before {
	content: ''; 
	position: absolute; 
	left: 100%;
	border: 13px solid transparent; 
	border-left: 5px solid #f57453;
}

.base > span {
	display: block;
	position: relative;
	font-family: sans-serif;
	margin: 5px 0 0 10px;
	color: white;
	vertical-align: top;
}

/*----------------------------- первый блок с контентом -----------------------------*/

.body-content {
	font-family: SerifRegular;
	text-align: center;
	background-color: #ecebe2;
}

.content-left {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	text-align: right;
	padding-right: 30px;
	border-right: 1px solid #bdb2a9;
	margin: 7vh 0 7vh 0;
}

.body-content h1 {
	font-size: 30px;
	color: #2b1818;
	margin: 0;
	font-weight: normal;
}

.body-content p {
	font-size: 14px;
	color: #978585;
	margin: 10px 0 0 0;
}

.content-right {
	display: inline-block;
	text-align: left;
	margin: 7vh 0 7vh 30px;
	width: 30%;
}

.content-right .news-image {
	display: inline-block;
	vertical-align: bottom;
	background-image: url("../img/newsImg1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 200px;
	height: 134px;
	float: left;
	margin: 0 10px 0 0;
}

.content-right > .news-image > .base {
	font-size: 14px;
	background-color: rgba(52, 27, 20, 0.65);
	height: 24px;
	width: 60px;
	margin: 0 0 0 18px;
	cursor: auto;
}

.content-right > .news-image > .base::before {
	content: ''; 
	position: absolute; 
	left: 0%;
	top: 100%;
	border: 30px solid transparent; 
	border-top: 8px solid rgba(52, 27, 20, 0.65);
}

.content-right > .news-image > .base span {
	margin-left: 8px;
}

.content-right .base {
	display: inline-block;
	vertical-align: bottom;
	font-size: 12px;
	background-color: #8c7975;
	height: 24px;
	width: 70px;
	margin: 8px 0 0 4px;
	float: left;
}

.content-right .base::before {
	content: ''; 
	position: absolute; 
	left: 100%;
	border: 12px solid transparent; 
	border-left: 4px solid #8c7975;
}

@media screen and (max-width:479px) {
	.body-content {
		padding-top: 30px;
	}
	
	.content-left {
		border-right: none;
		text-align: center;
	}
	
	.content-left p {
		text-align: left;
		padding-left: 8px;
	}
	
	.content-left::after {
		background-color: #bdb2a9;
		display: inline-block;
		content: "";	
		width: 90%;
		height: 1px;
		margin-top: 40px;
	}
	
	.content-left, .content-right {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	.content-right > .news-image {
		width: 80%;
		height: 140px;
		margin-left: 10%;
	}
	
	.content-right p {
		clear: both;
		width: 100%;
		padding-left: 8px;
		box-sizing: border-box;
	}
	
	.content-right h1 {
		text-align: center;
		margin-bottom: 10px;
	}
	
	.content-right > .base {
		position: relative;
		width: 30%;
		margin-left: 10px;
	}
	
	.body-content {
		height: 504px;
	}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxx первый блок с контентом xxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

  /*----------------------------- ----направления--- -----------------------------*/

.layer-directions {
	background: url("../img/background_directions.jpg") no-repeat center;
	background-size: cover;
	height: 420px;
	width: 100%;
	-webkit-box-shadow: inset 0px 14px 14px -4px rgba(0,0,0,0.35);
	-moz-box-shadow:    inset 0px 14px 14px -4px rgba(0,0,0,0.35);
	box-shadow: 		inset 0px 14px 14px -4px rgba(0,0,0,0.35);
	padding-top: 10px;
}

.layer-directions {
  text-align: center;
}

.layer-directions {
	color: #f0ead8;
}

.layer-directions h1:before {
    content: "";
    display: inline-block;
	width: 25%;
    height: 1px;
    background: #f0ead8;
    position: inherit;
    margin: 0 3% 8px 0;
}

.layer-directions  h1:after {
  	content: "";
    display: inline-block;
    width: 25%;
    height: 1px;
    background: #f0ead8;
    position: inherit;
    margin: 0 0 8px 3%;
}

.wrapper-directions {
	display: flex;
	justify-content: center;
	color: white;
	padding-top: 40px;
}


.plate-container {
	display: flex;
	background-size: cover
}

.plate-image-container {
	display: flex;
	flex-direction: column;
}

.image-plate {
	margin: 25px 0 0 0;
	background: url(../img/plate.png) no-repeat center;
	background-size: contain;
	width: 291px;
	height: 232px;
}

.span-container {
	display: flex;
	flex-direction: column;
}

.span-container span {
	margin-top: 40px;
}

.table-directions {
	width: 500px;
}

.table-directions tr {
	display: flex;
	justify-content: flex-start;
	margin-top: 35px;
}

.table-directions td {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	min-width: 160px;
}

.mini-img {
	height: 35px;
	width: 35px;
	background: url("../img/table_elements.png") no-repeat;
	margin-right: 10px;
}

.table-directions tr:nth-child(1) td:nth-child(1) .mini-img {background-position: -0px 0;} 
.table-directions tr:nth-child(1) td:nth-child(2) .mini-img {background-position: -35px 0;}
.table-directions tr:nth-child(1) td:nth-child(3) .mini-img {background-position: -105px 0;}
.table-directions tr:nth-child(2) td:nth-child(1) .mini-img {background-position: -175px 0;} 
.table-directions tr:nth-child(2) td:nth-child(2) .mini-img {background-position: -245px 0;}
.table-directions tr:nth-child(2) td:nth-child(3) .mini-img {background-position: -280px 0;}
.table-directions tr:nth-child(3) td:nth-child(1) .mini-img {background-position: -245px 0;} 
.table-directions tr:nth-child(3) td:nth-child(2) .mini-img {background-position: -140px 0;}
.table-directions tr:nth-child(3) td:nth-child(3) .mini-img {background-position: -70px 0;}

.container-table > .klammer {
	font-size: 200px;
	font-family: monospace;
	height: 300px;
	width: 100px;
}

.first-klammer {
	margin-left: 10px;
	margin-right: 20px;
}

.container-table > .first-klammer.klammer:before{
    content: "";
    display: block;
	width: 40px;
    height: 4px;
	border-radius: 50%;
	box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.9);
    position: relative;
	left: 50px;
	top: 235px;
}

.container-table > .klammer:before{
    content: "";
    display: block;
	width: 40px;
    height: 4px;
	border-radius: 50%;
	box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.9);
    position: relative;
	left: 20px;
	top: 235px;
}

.container-table {
	display: flex;
}

@media screen and (max-width:479px) {
	
	.layer-directions{
		height: 610px;
	}	

	.wrapper-directions {
		padding: 0px;
		display: flex;
		flex-direction: column;
		align-content: flex-start;
	}
	
	.plate-image-container {
		height: 160px;	
	}
	
	.plate-image-container span {
		margin-left: 30px;
	}
	
	.span-container {
		margin-top: 28px;
		height: 100px;
	}
	
	.span-container span {
		margin: 10px 0 0 0;
	}
	
	.image-plate {
		background-size: 75%;
		width: 200px;
		margin-left: 30px;
	}
	
	h1, .body-content h1, .discount-window h1  {
		font-size: 20px;
	}
	
	.layer-directions h1:before {
		width: 10%;
    	margin: 0 4px 4px 0;
	}

	.layer-directions h1:after {
		width: 10%;
		margin: 0 0 4px 4px;
	}
	
	.container-table {
		width: 100%;
	}
	
	.container-table > .klammer {
		display: none;
	}
	
	.table-directions {
		width: 100%;
		display: flex;
		align-content: center;
		justify-content: center;
		margin-top: 20px;
	}
	
	.table-directions tr {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
}

@media screen and (min-width:480px) and (max-width:1100px) {
	h1 {
		font-size: 20px;
	}
	
	.layer-directions h1:before {
		width: 15%;
    	margin: 0 4px 4px 0;
	}

	.layer-directions h1:after {
		width: 15%;
		margin: 0 0 4px 4px;
	}
	
	.layer-directions {
		height: 610px;
	}	
	
	.plate-container {
		display: flex;
		align-content: center;
		justify-content: center;
	}
	
	.container-table {
		margin: auto;
	}
	
	.wrapper-directions {
		padding: 0px;
		display: flex;
		flex-direction: column;
	}
	
	h1, .body-content h1, .discount-window h1  {
		font-size: 20px;
	}
	
	.layer-directions h1:before {
		width: 10%;
    	margin: 0 4px 4px 0;
	}

	.layer-directions h1:after {
		width: 10%;
		margin: 0 0 4px 4px;
	}

	.table-directions {
		display: flex;
		align-content: center;
		justify-content: center;
		margin-top: 20px;
	}
}

@media screen and (min-width:480px) and (max-width:760px) {
	.container-table > .klammer {
		display: none;
	}
}

  /*----------------------------- ----направления--- -----------------------------*/
   /*----------------------------- ----контакты--- -----------------------------*/
.contacts-conteiner {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 500px;
	text-align: center;
	background-color: #ecebe2;
	padding-top: 20px;
	-webkit-box-shadow: 0px -3px 14px 8px rgba(0,0,0,0.37);
	-moz-box-shadow:    0px -3px 14px 8px rgba(0,0,0,0.37);
	box-shadow: 	 	0px -3px 14px 8px rgba(0, 0, 0, 0.22);

}

.contacts-conteiner h1 {
	color: #46382f;
	margin-top: 0;
}

.contacts-conteiner h1:before {
	content: "";
	display: inline-block;
	background: black;
	height: 2px;
	width: 30%;
	margin: 0 3% 8px 3%;
}

.contacts-conteiner h1:after {
	content: "";
	display: inline-block;
	background: black;
	height: 2px;
	width: 30%;
	margin: 0 3% 8px 3%;
}

.map {
	width: 450px;
	height: 350px;
	border: 2px solid #343030;
}


.wrapper-contacts {
	height: 500px;
	display: flex;
	justify-content: center;
}

.form-contact {
	width: 450px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 60px;
	align-content: space-around;
}

.form-contact input {
	margin-bottom: 10px;
	padding: 4px;
	border-radius: 4px;
	border: none;
	background-color: #d9d1ca;
	outline: none;
	box-sizing: border-box;
	height: 24px;
}

.form-contact input:focus {
	border: 1px solid #6a4c43; 
}

.form-contact textarea {
	margin-bottom: 10px;
	resize: none;
	border: none;
	border-radius: 4px;
	background-color: #d9d1ca;
	outline: none;
	box-sizing: border-box;
	height: 90px;
	padding: 4px;
}

.form-contact textarea:focus {
	border: 1px solid #6a4c43; 
}

.form-contact .button {
	width: 30%;
	height: 38px;
	margin: 0;
	background-color: #6a4c43;
	color: #ede7d5;
	border-bottom: 3px solid #342622;
	outline: none;
}

.form-contact .button:active {
	border-top: 3px solid #342622;
	border-bottom: 0px solid #342622;
	outline: none;
}

.footer {
	background-size: contain;
	height: 60px;
	background-color: #9c8980;
	position: relative;
	z-index: -1;
	padding-top: 20px;
}

.footer h1{
	text-align: center;
	margin: 0;
	font-size: 16px;
	color: black;
	
}

@media screen and (max-width:479px) {
	.contacts-conteiner h1:before {width: 20%;}
	.contacts-conteiner h1:after {width: 20%;}
	
	.contacts-conteiner {
		height: 720px;
	}
	
	.wrapper-contacts {
		flex-direction: column;
		height: 650px;
	}
	
	.map {
		width: 82%;
		height: 350px;
		box-sizing: border-box;
		margin: 0 0 0 9%;
	}

	.form-contact { 
		width: 60%;
		margin: 30px 0 0 20%;
		background-position: 
	}
	
	.form-contact .button {
		width: 100%;
	}
}
