body {
	margin: 0;
}

.header {
	position: relative;
	z-index: 2;
	background-color: #8f786b;
	background-image: url(../img/background_header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 524px;
	margin: 0;
	-webkit-box-shadow: inset 0px -14px 14px -4px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px -14px 14px -4px rgba(0,0,0,0.35);
	box-shadow: inset 0px -14px 14px -4px rgba(0,0,0,0.35);
	color: #d9d2be;
}

.panel-menu {
	position: relative;
	z-index: 5;
	background-image: url(../img/panel_menu.png);
	background-size: contain; 
	background-repeat: repeat-x;
	background-position: center;
	height: 180px;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 2% 0 0 4%;
	display: table;
	text-align: center;
	border: none;
}

.menu div {
	display: table-cell;
	width: 120px;
	text-align: center;
}

.menu > li { 
	display: table-row;
	border: 1px solid white;
}

.menu-icon {
	display: inline-block;
	background: url(../img/menu_elements.png) no-repeat;
	background-position: 0px 0px;
	height: 27px;
	width: 27px;
	cursor: pointer;
}

div:nth-child(2) .menu-icon {
	background-position: -84px 0px;
}

div:nth-child(3) .menu-icon {
	background-position: -168px 0px;
}

div:nth-child(4) .menu-icon {
	background-position: -248px 0px;
}

.menu-text {
	display: table-cell;
	width: 120px;
}

.menu-text span {
		cursor: pointer;
}

.logo {
	position: absolute;		
	display: table;
	width: 62px;
	height: 50px;
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	left: 46%;
	top: 14px;
}

.logo > p {
	margin-top: 10px;
	display: table-caption;
	caption-side: bottom;
}

.search {
	border-collapse: collapse;
	border: none;
	margin: 10px;
	border-radius: 4px;
	font-family: sans-serif;
	width: 308px;
	position: absolute;
	top: 18px;
	right: 100px;
}

.search tr:nth-child(2) {
	display: block;
	background: rgba(63, 42, 35, 0.51);
	border-radius: 4px;
	border-top: 1px solid rgba(0, 0, 0, 0.41);
	border-bottom: 1px solid rgba(252, 245, 225, 0.4);
}

.search td:nth-child(2) {
	cursor: pointer;
	width: 22px;
}

.search .input-search {
	background: none;
	border: none;
	color: inherit;
	padding-left: 4px;
	width: 286px;
}

.discount-window {
	width: 35%;
	height: 200px;
	margin: 4% 0 0 10%;
	border-top: 3px solid white;
	background: rgba(81, 56, 48, 0.9);
}

.discount-window h1 {
	color: white;
	font-weight: normal;
	margin: 0;
	padding: 5% 1% 0 5%;
	font-size: 22px;
}

.discount-window p {
	margin: 0;
	padding: 5% 1% 0 5%;
	font-size: 16px;
}

.discount-window .text-input {
	padding: 0 0 0 4px;
	margin: 6% 0 0 5%;
	height: 13%;
	width: 50%;
	display: inline-block;
	position: relative;
	color: #513830;
	box-sizing: border-box;
}

.base { 
	display: inline-block;
	vertical-align: top;
	padding: 0;
	height: 13%;
	width: 77px;
	left: -4px;
	margin: 6% 0 0 0;
	background: #f57453; 
	position: relative; 
	color: #fff;
	cursor: pointer;
} 

.base::before {
	content: ''; 
	position: absolute; 
	left: 100%;
	border: 13px solid transparent; 
	border-left: 6px solid #f57453;
}

.base > span {
	display: block;
	position: relative;
	font-family: sans-serif;
	margin: 5px 0 0 10px;
	color: white;
	vertical-align: top;
}
